* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #4a4063;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #4f1271;
  padding: 2em 5em;
  font-size: 2em;
  align-items: center;
  color: #bfacc8;
}

header a {
  color: #bfacc8;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7em;
  color: #bfacc8;
}

span {
  background-color: #783f8e;
}

.main-news,
.news {
  background-color: #783f8e;
  border-radius: 5px;
}

.main-news {
  display: block;
  width: 65%;
  padding: 3em 2em;
  background: url(../img/main-news.webp) center/cover;
}

.main-news h2,
.main-news p {
  text-shadow: 5px 5px 7px black;
}

news-menu {
  display: flex;
  flex-direction: column;
}

.news {
  padding: 1.2em;
  margin: 1.4em;
}
